body {
    font-family: Inter, sans-serif;
}

#product-image {
    width: 250px;
    height: 300px;
}
h1{
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    padding: 20px;
}
.card{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(26, 34, 26);
    width: 330px;
    height: 600px;
    background-color: rgb(230, 223, 223);
}

#product-title {
    font-weight: bold;
}