body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}

.nav {
    text-align: center;
}

#games {
    display: flex;
    justify-content: space-evenly;
    
}

.game-item img {
    margin: 0 auto;
}

#gamesSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

h1, h2, p, #descriptionLink {
    text-align: center;
}
h2 {
    font-size: 10px;
}

#descriptionLink {
    text-decoration: none;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
h2 {
    font-size: medium;
}

#products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 250px;
}


.description-link {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer {
    height: 200px;
    background-color: rgb(53, 13, 13);
    align-items: center;
    text-align: center;
}
footer p {
    padding-top: 100px;
    color: white;
}

.message {
    text-align: center;
    margin-top: 10px;
    width: 100%;

     &.error {
        color: red;
        border: 1px red solid;
    }
}

