body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}



h3, p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  width: 100px;
  height: 125px;
  margin-top: 10px;
  margin-left: 5px;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.remove-btn {
margin-top: 45px; 
height: 35px; 
}



.product-container {
  display: flex;
  background-color: rgb(223, 217, 217);
  margin: 10px;
  padding: 10px;
  width: 800px;
}

.game-info {
  display: flex;
  flex-direction: column;
}

.game-info h3 {
  margin-top: -5px;
  margin-bottom: 1px;
}

.game-info p {
  height: 50px;
  width: 330px;
}